* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
section {
    
    scroll-margin-top: 100px;
}

body {
    background-color: #0f0f0f;
    color: white;
    font-family: 'Lato', sans-serif;
	font-size:18px;
	color:white;
}

html, body
{
	height: 100%;
	margin: 0;
	padding: 0;
}

/*-------------page spinner------------*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #050505; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease, visibility 0.5s;
}

/* ---------------logo container loader ---------------*/
.loader-logo-container {
    margin-bottom: 20px;
    filter: drop-shadow(0 0 10px rgba(245, 245, 108, 0.3));
}

/*----------------- Style image logo loader -------------------*/
.loader-logo {
    width: 120px; 
    height: auto;
    border-radius: 50%; 
    animation: pulseLogo 2s ease-in-out infinite;
}

#loader-wrapper p {
    font-family: 'Montserrat', sans-serif;
    color: #f5f56c; /* Tu dorado */
    letter-spacing: 3px;
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: 300;
    animation: fadeText 2s ease-in-out infinite;
}

/* --- ANIMACIONES --- */

@keyframes pulseLogo {
    0%, 100% {
        transform: scale(1);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.05); 
        opacity: 1;
    }
}


@keyframes fadeText {
    0%, 100% { opacity: 0.6; }
    50% { opacity: 1; }
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

/*---------end of page spinner-----------*/

header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(5, 5, 5, 0.85); 
    backdrop-filter: blur(10px);          
    -webkit-backdrop-filter: blur(10px);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 100px;
}

.logo-img {
    width: 180px;
    height: auto;
}

.nav-menu {
    display: flex;
    list-style: none;
     }

.nav-menu li {
    margin-left: 30px;
    }

.nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
    font-family: 'Gloock', serif;
    font-style: bold;
}

.nav-menu a:hover {
    color: #f5f56c; 
}

/* Hamburguer style (desktop hidden) */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    background: none;
    border: none;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #ffff; 
    margin: 2px 0;
    transition: 0.4s;
}

.hero {
    position: relative;
    height: 80vh; 
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gloock', serif;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1;
}


.hero-content {
    position: relative;
    z-index: 3; 
    text-align: center;
    color: #f5f56c;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 2;
}

.btn-cta {
    margin-top: 20px;
    padding: 15px;
    background-color: #df811c;
    color: white;
    border: none;
    box-shadow: #c0cfdd 0px 5px 15px;
    text-decoration: none;
}

.btn-cta:hover{
    box-shadow: #dbe705 0px 5px 15px;
}

/*----------------- sobre nosotros section-------------------*/

.aboutus {
    padding: 80px 5%;
    overflow: hidden; 
     background-color: rgba(5, 5, 5, 0.85); 
    backdrop-filter: blur(10px);       
    -webkit-backdrop-filter: blur(10px);
}

.aboutus h2 {
    text-align: center;
    color: #f5f56c;
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-family: 'Gloock', serif;;
}


.content {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 50px;              
    max-width: 1200px;
    margin: 0 auto;
}

/* -------------Bloque Imagen------------ */
.soimage {
    flex: 1; 
    max-width: 500px;
}

.soimage img {
    width: 100%;
    height: 690px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* ---------------Bloque De Texto---------------*/
.seotext {
    flex: 1;
    color: white;
}
.seotext strong {
    color: #f5f56c;
    font-weight: 600;
}

.seotext h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #f5f56c;
}

.seotext p {
    font-size: 1.1rem;
    line-height: 1.8;
    font-weight: 300;
}

/* ---Animación --- */
.anim-left {
    opacity: 0;
    transform: translateX(-100px); 
    transition: all 1s ease-out;
}

.anim-right {
    opacity: 0;
    transform: translateX(100px); 
    transition: all 1s ease-out;
}

.anim-left.show, .anim-right.show {
    opacity: 1;
    transform: translateX(0);
}

/*-----------------end of sobre nosotros----------------*/


/*---------------- WSP floating button -------------------*/
.btn-whatsapp-fixed {
    position: fixed;    
    bottom: 20px;       
    right: 20px;        
    width: 60px;
    height: 60px;
    background-color: #25d366;
    color: white;
    border-radius: 50%; 
    font-size: 30px;
    z-index: 9999;     
    text-decoration: none;
    transition: all 0.3s ease;
}
.btn-whatsapp-fixed i {
    font-size: 53px; 
    padding-left: 4px;
}

.btn-whatsapp-fixed:hover {
    background-color: #128c7e;
    color: white;
    transform: scale(1.1); 
}

.catalogo {
     padding: 80px 5%;
    background-color: #0f0f0f;
    overflow: hidden; 
 }

.catalogo h3{
     text-align: center;
    color: #f5f56c;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

/*----------------Start Of Work Section ------------------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Lato&display=swap');


*{-webkit-transition: all 0.4s ease-out!important;-moz-transition:  all 0.4s ease-out!important;-ms-transition: all 0.4s ease-out!important;-o-transition:  all 0.4s ease-out!important;
transition: all 0.4s ease-out!important;}



.gal
{
	margin-top:3rem;
	-webkit-column-count: 4;
	/* Chrome, Safari, Opera */
	-moz-column-count: 4;
	/* Firefox */
	column-count: 4;
}

.gal img
{
	height:auto;
}

/*------------- DESIGN-------------- */


.overlay
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -2;
	mix-blend-mode: hard-light;
}

.bg
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -3;
	background-image:url(../assets/working/backgrounddesk.webp);
	background-repeat:no-repeat;
	background-size: cover;
	min-height: 100%;

    background-position: center; /* Centra la imagen para que lo importante no se corte */
    
    /*height: 100vh;*/
}

.gal-h-title
{
    color: #f5f56c;
	text-align:center;
    font-family: 'Gloock', serif;
}

.gal-h-title h2
{
	font-size:2.6rem;
}
.gal img , .img-hover-zoom{
	border-radius: 25px;
}

.nav-pills .nav-link
{
	color:white;
	padding:10px 20px;
	text-transform:uppercase;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link, .nav-pills .nav-link.active:hover
{
	background: #df811c;
  background: linear-gradient(135deg,#df811c,#d9f027);
	border-radius:100px;
}
.nav-pills .nav-link:hover
{
	background: #dbe705;
background: linear-gradient(135deg,#dbe705,#ecf8126e);
	border-radius:100px;
}


/* ZOOM IN EFFECT */
.img-hover-zoom
{
  padding:10px 0;
	overflow: hidden;
}

/* Transition property for smooth transformation of images */
.img-hover-zoom img
{
	transition: transform .5s ease;
}

/* Zoom-n-rotate Container */
.img-hover-zoom--zoom-n-rotate img
{
	transition: transform .5s ease-in-out;
}

/* The Transformation */
.img-hover-zoom--zoom-n-rotate:hover img
{
	transform: scale(1.6) rotate(25deg);
}

/*------end off work-----*/


/*----SERVICES---*/

.services {
    display: flex;
    justify-content: space-evenly; 
    object-fit: cover;
    align-items: center;     
    gap: 50px;              
    max-width: 1200px;
    margin: 0 auto;
}
.services img {
    box-shadow: 0px 5px 25px rgba(219, 231, 5, 0.5); 
    border-radius: 10px; 
    transition: transform 0.3s ease; 
}

.services img:hover {
    transform: scale(1.02); /* Efecto de zoom sutil */
    box-shadow: 0px 8px 35px #dbe705; /* El brillo se intensifica */
}


  

/* End Of Services*/


/*preguntas frecuentes*/

.custom-dark-accordion .accordion-item {
    background-color: #1a1a1a; 
    border-bottom: 1px solid #333;
    color: white;
}

.custom-dark-accordion .accordion-button {
    background-color: #1a1a1a;
    color: white;
    box-shadow: none;
}

/* Cuando el acordeón está abierto */
.custom-dark-accordion .accordion-button:not(.collapsed) {
    background-color: #252525;
    color: #f5f56c; 
}

/* Accordion El icono de la flecha (hacerlo blanco) */
.custom-dark-accordion .accordion-button::after {
    filter: invert(1);
}

.custom-dark-accordion .accordion-body {
    background-color: #1a1a1a;
    color: #ccc;
}

/* Estilo para el logo en FAQ */
.faq-logo {
    box-shadow: 0 0 20px rgba(245, 245, 108, 0.2);
    transition: transform 0.3s ease;
}

.faq-logo:hover {
    transform: scale(1.05);
}


/*start of footer section*/

.main-footer {
    background-color: #050505; 
    padding-top: 50px;
    padding-bottom: 20px;
    color: #ffffff;
}

.footer-title {
    color: #f5f56c; 
    font-family: 'Gloock', serif;
    margin-bottom: 20px;
}

.footer-link {
    text-decoration: none;
    color: #ccc;
    transition: 0.3s;
    line-height: 2;
}

.footer-link:hover {
    color: #f5f56c;
    padding-left: 5px; 
}

.footer-divider {
    border-top: 1px solid #333;
    opacity: 1;
}

.copyright {
    font-size: 0.85rem;
    color: #666;
}

.social-icons i {
    font-size: 1.5rem;
    transition: 0.3s;
    color: #f5f56c;
}

.social-icons a:hover i {
    color: #f5f56c;
      box-shadow: #dbe705 0px 5px 15px;
    transform: translateY(-3px);
    display: inline-block;
}

/* created by Tecnocali design*/
.created-by {
    font-size: 0.75rem; 
    color: #888;
    margin-top: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.brand-name {
    color: #f5f56c; 
    font-weight: bold;
    transition: 0.3s;
}

.brand-name:hover {
    color: #ffffff; 
    text-shadow: 0 0 8px rgba(245, 245, 108, 0.5);
}
/*end of created by design */

/*end of footer*/

/* Responsivo para Móvil */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 100px;
        flex-direction: column;
        background-color: #161616;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        padding: 20px 0;
        border-top: 1px solid #333;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-menu li {
        margin: 15px 0;
    }
    .hero {
        height: 60vh; 
    }
    .hero-content h1 {
        font-size: 1.8rem; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
    

    /* Animación del botón hamburguesa a X */
.hamburger.is-active span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

/*aboutus section mobile*/
.content {
        flex-direction: column !important; 
        gap: 20px;
        padding: 0 20px;
    }

   
    .soimage {
        width: 100% !important;
        height: 300px !important;
        margin: 0 auto !important;
    }

    .soimage img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        border-radius: 15px;
    }

    .bg{
	
	background-image:url(../assets/working/laboratory.webp);
	
}

    
    .seotext {
        width: 100% !important;
        padding: 0 10px;
        text-align: center; 
    }

    .seotext h3 {
        margin: 20px 0 10px 0 !important; 
        font-size: 1.5rem;
    }

    .content p {
        margin-top: 10px !important;
        font-size: 1rem;
        line-height: 1.6;
    }

    
    .anim-left, .anim-right {
        transform: translateY(30px) !important; 
    }

    .gal
	{
		-webkit-column-count: 1;
		/* Chrome, Safari, Opera */
		-moz-column-count: 1;
		/* Firefox */
		column-count: 1;
	}

    .services {
        flex-direction: column !important; 
        gap: 40px;
        padding: 0 20px;
    }

 }