*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color:#050505;
    width:100%;
    height: 90px;
}

.logo-img{
    width:400px;
    height:90px;
}
nav{
    display: flex;
    justify-content: space-between;
    
}
nav ul {
    display:flex;
    list-style: none;
    padding:30px;
    color: white;
}
nav ul li {
   
    padding-left:30px;
    
}